{% load extra_tags %}
<ul class="nav nav-list bs-docs-sidenav">
    <li><a href="#dropdowns"><i class="icon-chevron-right"></i> Dropdowns</a></li>
    <li><a href="#buttonGroups"><i class="icon-chevron-right"></i> Button groups</a></li>
    <li><a href="#buttonDropdowns"><i class="icon-chevron-right"></i> Button dropdowns</a></li>
    <li><a href="#navs"><i class="icon-chevron-right"></i> Navs</a></li>
    <li><a href="#navbar"><i class="icon-chevron-right"></i> Navbar</a></li>
    <li><a href="#breadcrumbs"><i class="icon-chevron-right"></i> Breadcrumbs</a></li>
    <li><a href="#pagination"><i class="icon-chevron-right"></i> Pagination</a></li>
    <li><a href="#labels-badges"><i class="icon-chevron-right"></i> Labels and badges</a></li>
    <li><a href="#typography"><i class="icon-chevron-right"></i> Typography</a></li>
    <li><a href="#thumbnails"><i class="icon-chevron-right"></i> Thumbnails</a></li>
    <li><a href="#alerts"><i class="icon-chevron-right"></i> Alerts</a></li>
    <li><a href="#progress"><i class="icon-chevron-right"></i> Progress bars</a></li>
    <li><a href="#media"><i class="icon-chevron-right"></i> Media object</a></li>
    <li><a href="#misc"><i class="icon-chevron-right"></i> Misc</a></li>
</ul>
<table class="table table-bordered">
    {% for cat in categories %}
    <tr>
        <th colspan="5">{{ cat.title }}</th>
    </tr>
    {% if cat.entry_set.all %}
    <tr>
        <th>title</th>
        <th>url</th>
        <th>username</th>
        <th>comment</th>
        <th>password</th>
    </tr>
        {% for e in cat.entry_set.all %}
        <tr>
            <td>{{ e.title }}</td>
            <td>{{ e.url }}</td>
            <td>{{ e.username }}</td>
            <td>{{ e.comment }}</td>
            <td>{{ e.password|decrypt:user.password }}</td>
        </tr>
        {% endfor %}
        {% endif %}
    {% empty %}
    <h3>No categories...</h3>
    {% endfor %}
</table>
