{% extends "base_generic.html" %}
{% load extra_tags %}
{% block content %}
    <table class="table table-bordered">
        {% for cat in categories %}
        <tr>
            <th colspan="5">{{ cat.title }}</th>
        </tr>
        {% if cat.entry_set.all %}
        <tr>
            <th>title</th>
            <th>url</th>
            <th>username</th>
            <th>comment</th>
            <th>password</th>
        </tr>
            {% for e in cat.entry_set.all %}
            <tr>
                <td>{{ e.title }}</td>
                <td>{{ e.url }}</td>
                <td>{{ e.username }}</td>
                <td>{{ e.comment }}</td>
                <td>{{ e.password|decrypt:user.password }}</td>
            </tr>
            {% endfor %}
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}

