{% extends "base_generic.html" %}
{% load extra_tags %}
{% block sidebar %}
    <ul class="nav nav-list bs-docs-sidenav">
        {% for cat in categories %}
        <li onclick='searchEntries("{{ cat.title }}")'><a href="#{{ cat.id }}"><i class="icon-chevron-right"></i> {{ cat.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
{% block content %}
    {% if entries %}
    <div id="table-container">
        <table id="table-entries" class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Url</th>
                    <th>Username</th>
                    <th>Expires</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody id="tbody-entries">
                {% for e in entries %}
                <tr>
                    <td>
                        <a class="" href="{% url 'update_entry' pk=e.id %}"><i
                                class="icon-cog"></i></a>
                    </td>
                    <td>
                        {{ e.title|capfirst }}
                    </td>
                    <td><a href="http://{{ e.url }}" target="blank" >{{ e.url }}</a></td>
                    <td>{{ e.username }}</td>
                    <td>
                        <div title="{{ e.expires|progressbar_days_left }}"
                            class="progress {{ e.expires|progressbar_class }}
                            progress-striped">
                            <div class="bar "
                                style="width: {{ e.expires|progressbar_width }}%;">
                            </div>
                        </div>
                    </td>
                    <td class="password-cell" onclick="toggleVisibility(this);">
                        <span style="visibility:hidden">
                            {{ e.password|decrypt:user.password }}
                        </span>
                        <a class="pull-right" href="{% url 'delete_entry' pk=e.id %}"><i
                                class="icon-remove"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
{% endblock %}


